
<!-- Para trabajar con formularios, necesitamos hacer uso de la directiva 'NgForm'.
Para obtener la referencia a la instancia 'FormGroup' del formulario, usamos una 
template reference variable, a la cual asignamos como valor la propia directiva 'NgForm' -->
<form ngForm #formularioContacto="ngForm" (ngSubmit)="notificarContacto(formularioContacto)" >
  
  <!-- Para trabajar con elementos de formulario, necesitamos hacer uso de la directiva
  'NgModel'. Para obtener la referencia a la instancia 'FormControl' del elemento,
  usamos una template reference variable a la cual asignamos como valor la propia
  directiva 'NgModel' -->

 <!-- nombre del contacto -->
 <div class="row">
   <div class="offset-by-three six columns">
      <label for="idNombre">Nombre</label>
      <input 
      class="u-full-width"
      id="idNombre"
      placeholder="Ej. Tim"
      type="text"
      ngModel
      name="nombre"
      #nombreRef="ngModel"
      required>
      <!-- Con la directiva ngIf escribimos o no un elemento en el DOM.
      Es decir, lo renderizamos o no en el navegador en funcion de si la exoresion indicada
      como valor resuelve como true o como false-->
      <div *ngIf="nombreRef.touched && nombreRef.invalid" class="mensaje-error">El nombre es obligatorio</div>
   </div>
 </div>
  

  <!-- apellidos -->
 <div class="row">
   <div class="offset-by-three six columns">
      <label for="idApellidos">Apellidos</label>
      <input 
      class="u-full-width"
      id="idApellidos"
      placeholder="Ej. Cook"
      type="text"
      ngModel
      name="apellidos">
  </div>
 </div>


  <!-- movil -->
<div class="row">
   <div class="offset-by-three six columns">
      <label for="idMovil">Movil</label>
      <input 
      id="idMovil"
      class="u-full-width"
      placeholder="Ej. 655 44 88 99"
      type="text"
      ngModel
      name="movil">
    </div>
 </div>

  <!-- email -->
<div class="row">
   <div class="offset-by-three six columns">
      <label for="idEmail">Correo electronico</label>
      <input 
      class="u-full-width"
      id="idEmail"
      placeholder="Ej. tim.cook@gmail.com"
      type="email"
      ngModel
      name="email">
    </div>
 </div>

  <!-- facebook -->
 <div class="row">
   <div class="offset-by-three six columns">
      <label for="idFacebook">Facebook</label>
      <input 
      class="u-full-width"
      id="idFacebook"
      placeholder="Ej. tim.cook"
      type="text"
      ngModel
      name="facebook">
    </div>
 </div>

  <!-- twitter -->
   <div class="row">
   <div class="offset-by-three six columns">
      <label for="idTwitter">Twitter</label>
      <input 
      class="u-full-width"
      id="idTwitter"
      placeholder="Ej. @timcook"
      type="text"
      ngModel
      name="twitter">
    </div>
 </div>

  <!-- -->
 <div class="row">
   <div class="offset-by-three six columns">
      <button 
      class="button-primary u-full-width"
      type="submit" 
      [disabled]="formularioContacto.invalid">Guardar contacto</button>
      </div>
 </div>

</form>
